// Blog
section#blog.section.blog
  .container
    //
    header.section-heading
      h2 From The Blog
      span Awesome articles from the blog
    //
    #blogContent.section-content
      #jsonContent.row
    // /#blogContent
    .text-center
      a#loadBlogPosts.btn.btn-dark(href='//medium.jasonmdesign.com')
        | View All
        span.fa.fa-angle-double-right
  // /.container
// Blog